
.anahaber {
    text-align: center;
}

#verifyy {
    margin-top: 2rem;
    height: 100%;
    width: 100%;

}

#verify {
    height: 80%;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#twitter2 {
    height: 80%; 
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#üst {
    margin-top: 4rem;
}

#olay {
    margin-top: 2rem;
    height: 90%;
    width: 90%;
}